body {
	background-color: #0f0f0f;
}

header, footer {
 	background-color: rgb(176, 224,230);
	image-orientation:0deg;

}

main {

	background-color: rgb(127, 255, 212);
}
h1  {
	 text-align: center;
	 color: #black;
	
}

h3 {
	color:black;
}

b {
	color:rgb(242, 90, 138) ;
	font-size: 20px;
}

i {
	color: #111111;
	font-size: 30px;

}
